<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - c_Teste</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="header">
            <div class="titleContaier">
                    <h1 class="title"> 
                        Target Work
                    </h1>
                </div>

            
            <nav class="navContainer">
                <div class="navLinkC">  
                    <a   class="navLink" >home</a>  
                    <a class="navLink" asp-action="Register" asp-controller="Account">Cadastro</a>
                    <a asp-action="ProductList" asp-controller="Home" class="navLink" >Produtos</a>
                    <a asp-action="AddProduct" asp-controller="Home" class="navLink" >Adicionar Produto</a> 
                    <a asp-action="GetProductPage" asp-controller="Home" class="navLink" >Buscar Produto</a> 
                    
                </div>
                <div class="navLinkC loginLogoutContainer ">
                    <a  asp-action="Login" asp-controller="Account" class="navLinkC">Logar</a>
                    <a asp-action="Logout" asp-controller="Account" class="navLinkC">Sair</a>
                </div>
            </nav>

     </header>       
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - c_Teste - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
