@model Client

<div class="formCont">
    <h1>cadastro de cliente</h1>
    <form  asp-action= "Register" asp-controller="Account" id="formi" class="form" method="POST">
        <div class="form-group">
            <label asp-for="UserName" for="productName">Nome</label>
            <input asp-for="UserName" id="nameId" type="text" class="form-control" placeholder="digite seu nome">
            <span asp-validation-for ="UserName" id="nameErrorId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" >Email</label>
            <input  asp-for="Email"type="email" class="form-control" id="emailId" placeholder="email">
            <span asp-validation-for="Email" id="emailErrorId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PasswordHash" for="exampleInputPassword1">Senha</label>
            <input asp-for="PasswordHash" type="password" class="form-control" id="passwordId" placeholder="senha">
            <span asp-validation-for="PasswordHash" id="passwordErrorId" class="text-danger"></span>
        </div>
        <div class="buttonContainer">
            <div>
                <button id="registerId" type="submit" class="btn btn-primary">Resgistrar-se</button>
                <a  asp-action ="Index" asp-controller="Home"id="cancelarId"  class="btn btn-danger">Cancelar</a>
            </div>
        </div>
        
    </form>

</div>

<script src="~/js/register.js">
    
</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



