<div class="loginContainer">
    <div class="errorRegisterContainer">
        <div class=errorRegister>
            <h2>ocorreu um problema ao realizar o cadastro</h2>
            <h3>tente se cadastrar novamente</h3>
            
        </div>
        <a asp-action="Register" asp-controller="Account" class="btn btn-primary">cadastrar-se</a>
    </div>
</div>