@model ProductSearch

@if (User.Identity.IsAuthenticated)
{

    <div class="formCont">
        <h1>Buscar Produto</h1>
        <form class="form" asp-action="GetProductList" asp-controller="Home" method="GET">
            <select id="typeId" class="form-select" aria-label="Default select example" asp-for="SearchType">
                <option selected>selecione o tipo de busca</option>
                <option value="1">nome</option>
                <option value="2">categoria</option>
            </select>
            <div id="nameId" class="form-group">
                <label >Busca</label>
                <input asp-for="SearchText"  type="text" class="form-control" placeholder="digite o nome ou categoria para buscar">
                <span asp-validation-for="SearchText" class="text-danger"></span>
            </div>
            <div id="buttonId" class="buttonContainer">
                <div>
                    <button  type="submit" class="btn btn-primary">Buscar</button>
                    <button class="btn btn-danger" asp-action="index" asp-controller="Home">Home</button>
                </div>
            </div>
        </form>
    </div>
  
}
else
{


    <div class="loginContainer">
        <h2>Necessário realizar login</h2>
        <a asp-action="loginPage" asp-controller="Account" class="btn btn-primary">Logar-se</a>
    </div>


}

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");};
}
    