/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html,body {
  margin: 0;
  padding: 0;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}



.header
{
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.781);
}

.navContainer
{
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 2px solid rgba(0, 102, 197, 0.808);
  background-color: #e5e5e533;
}


.navLinkC
{
  width: 45%;
  display: flex;
  justify-content: space-between;
  color: #fff;
  cursor: pointer;
  padding: 5px;
  font-size: 1.5rem;
}

.loginLogoutContainer
{
  width: 10%;
  
}

.navLink{

  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.title
{
  color: #1861ac;
  font-size: 3.5rem;
  justify-self: center;
  align-self: center;
  
}


.titleContaier
{
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  width: 100%;
  
}


.formCont
{

  border: 2px solid black;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
   
}

.buttonContainer
{
  display: flex;
  
  
  justify-content: center;
  
}


.buttonContainer > div{
  
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.loginContainer
{
  
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginContainer > button
{
  margin-top:15px;
  width: 111px
}

h1{
  margin-bottom: 40px;
}


.searchForm
{
  display: none;
}